BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 200
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
AlignAfterOpenBracket: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
SpacesInParentheses: true
SpacesInAngles: false
DerivePointerAlignment: false
IndentAccessModifiers: true




